<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Go Exchange</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/favicon.png" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,500,700&display=swap" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="pb-550">
<main class="login-main">
  
  <section id="" class="login-body-bg">
    <div class="container-fluid">
      
        <div class="login-wrapper">
          <div class="Login-page">


            <div class="login-logo">
              
              <img width="100%" class="img-responsive" src="img/logo_1.png" alt="Avatar photo">              
              
            </div>
            
            <%- body %>  

            
            <div class="forget-create-link container-fluid">
              <div class="row">
                <div class="col-6">
                  <a href="" class="">Forget Password</a>
                </div>

                <div class="col-6 text-sm-right">
                  <a href="" class="">Create Account</a>
                </div>
              </div>
            </div>
            <div class="social-page mb-sm-0">
              <a href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="" class="g-plus"><i class="fab fa-google-plus-g"></i></a>
              <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
            </div>

          </div>
        </div>
        <div class="overlay-bg"></div>
    </div>  
  </section>
  
</main>  
  <footer class="login-footer">
    <div class="container-fluid copy-right-section">
      <div class="row">
      <div class="col-12 col-sm-6">
        <p>© 2020 <span>Gemini software</span> All Rights Reserved</p>
      </div>

      <div class="col-12 col-sm-6 footer-links text-sm-right text-center">
        <a href="" class="">Help</a>
        <a href="" class="">About</a>
        <a href="" class="">Contact</a>
      </div>
    </div>
    </div>
  </footer>


  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- rating.js file -->
<script src="js/addons/rating.js"></script>
  
  <script src="js/main.js"></script>
  
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body class="pb-550">
</html>
